NEXT_PUBLIC_FIREBASE_API_KEY=your-web-api-key
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
IMGBB_API_KEY=your-imgbb-api-key
NEXT_PUBLIC_APP_NAME=Qikly
